{{define "content"}}
<h1 class="text-3xl font-bold mb-4">Контакты</h1>

<p class="mb-4">
  Если у вас есть вопросы, предложения или замечания по работе сайта, вы можете связаться с нами:
</p>

<ul class="list-disc pl-6 mb-4">
  <li>Email: <a href="mailto:karaboyd2017@ronaldofmail.com" class="text-blue-600 underline">karaboyd2017@ronaldofmail.com</a></li>
</ul>

<p class="text-gray-500 text-sm">
  Мы не предоставляем техническую поддержку по работе конкретных VPN-сервисов. Обращайтесь напрямую в службы поддержки соответствующих компаний.
</p>
{{end}}
